/* You can add global styles to this file, and also import other style files */
:root {
    --test-height: 100%;
    --test-color: red;
    --tool-tip: 50%;
}

.set-color {
    background-color: var(--test-color);
}

.space {
    margin: 5px;
    padding: 2px;
}