<div>
  <p *ngIf="update">
    yes app is updated here as well by it self
  </p>
  <p>hello now working on the new test project ! </p>

  <img src="assets\icons\icon-72x72.png" alt="Icon">
</div>

<div class="">
  <span tooltip="right description" class="border" placement="right" delay="40">tootip on right</span>
  <span tooltip="bottom description" class="border" placement="bottom" delay="30">tootip on bottom</span>
  <span tooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur vero cumque
  
  Sint aliquam laborum itaque fugit quos, mollitia " class="border" placement="top" delay="20">tootip on top</span>
  <span tooltip="las sd sdf sdfasdfs a " class="border" placement="top" delay="10">tootip on
    left</span>
</div>

<div>
  <span>
    <p class="set-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur vero cumque
      nihil sit voluptas.
      Sint aliquam laborum itaque fugit quos, mollitia modi animi, velit ab et iure quasi suscipit.</p>
  </span>

  <span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur vero cumque nihil sit voluptas.
      Sint aliquam laborum itaque fugit quos, mollitia modi animi, velit ab et iure quasi suscipit.</p>
  </span>
</div>

<button type="submit" class="space" (click)="chnageC('black')">black</button>
<button type="submit" class="space" (click)="chnageC('green')">green</button>
<button type="submit" class="space" (click)="chnageC('white')">white</button>